body {
	font-family: arial;
	font-size: 80%;
}

h2 {
	font-size: 1.3em;
	padding: 10px 10px;
	margin: 0px;
	background: #ddd;
}

table {
	margin: 0px 0px 20px 0px;
	border-spacing: 0px;
	width: 100%;
}

table thead tr {
	background: #eee;
}

table thead td {
	font-weight: bold;
}

table tbody {
}

table td {
	padding: 5px 10px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	vertical-align: top;
}

table td.isOk {
	background: #44FF44;
}

table td.isFailed {
	background: #FF0000;
	font-weight: bold;
	color: #fff;
}

table tr.isUnsupported td.isFailed {
	background: #DDDD22;
	font-weight: bold;
	font-size: 0.8em;
	color: #000;
}
table tr.isUnsupported td {
	color: #999;
	font-weight: bold;
}

table {
}

.testCell-code {
	font-family: monospace;
	font-size: 1.2em;
	color: #4444FF;
}
.testCell-compiled,
.testCell-interpreted {
	text-align: center;
	width: 100px;
}
.testCell-note {
	width: 22px;
	text-align: center;
}
.testCell-note a {
	display: block;
	width: 18px;
	height: 18px;
	color: #fff;
	background: #4444BB;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.testResults h2 span.label {
	padding-right: 20px;
}
.testCount {
	position: relative;
	font-size: 0.8em;
	font-weight: normal;
}
.testCount span {
	border-left: 1px solid #AAA;
	padding: 0px 15px 0px 15px;
	color: #AAA;
}
.testCount .countOk.moreThanOne {
	color: #00AA00;
	font-weight: bold;
}
.testCount .countFailed.moreThanOne {
	color: #AA0000;
	font-weight: bold;
}
.testCount .countUnsupported.moreThanOne {
	color: #999900;
	font-weight: bold;
}

.errorMessage {
	background: #DD2222;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	margin: 5px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}